@using Bonsai.Areas.Front.ViewModels.Page
@model PageVM<PageReferencesVM>
@{
    Layout = "~/Areas/Front/Views/Page/PageLayout.cshtml";

    ViewBag.PageModel = Model;
    ViewBag.Title = Model.Body.Title;
}

<div class="typography">
    @if(Model.Body.References.Any())
    {
        <p>For this pages there are links in the next pages:</p>
        <ul>
            @foreach (var r in Model.Body.References)
            {
                <li>
                    <a href="@Url.Action("Description", "Page", new { key = r.Key })">@r.Title</a>
                </li>
            }
        </ul>
    }
    else
    {
        <div class="text-muted">Links for this page are not found</div>
    }
</div>