@{
    Layout = "HelpLayout.cshtml";
    ViewBag.Title = "Style";
}

<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Markdown")">Formatting</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Style</a>
    </li>
</ul>

<h3>Style Guidelines</h3>

<p>
    The purpose of this site is to preserve and catalog information about the family.
    To make this information enjoyable and interesting to read, all authors should adhere to certain stylistic guidelines.
</p>
<p>Please familiarize yourself with them and remember them when writing or editing articles.</p>

<ol>
    <li>
        <strong>Objectivity</strong>:<br />
        Write impartially and focus on facts. Avoid personal evaluation - it may differ from the opinions of others and change over time.
    </li>
    <li>
        <strong>Positivity</strong>:<br />
        If possible, pay more attention to good events. It's more pleasant to read about them.
    </li>
    <li>
        <strong>Informative</strong>:<br />
        Think about what might be interesting for people to know who will read the article in 50 or 100 years. Omit minor details, write in simple language.
    </li>
    <li>
        <strong>Consistency</strong>:<br />
        Stick to chronological order, without jumping ahead: birth, childhood, education, work, family, maturity, old age. If there is enough information, divide the text into sections with headings.
    </li>
    <li>
        <strong>Presentation</strong>:<br />
        Write in proper Russian, use automatic spelling check tools if necessary. Break the text into paragraphs and use links to other pages.
    </li>
    <li>
        <strong>Accuracy</strong>:<br />
        If you don't remember a specific fact (date, name, place) - write it as it is. Perhaps someone else remembers and can supplement your text.
    </li>
</ol>

<h3>Media Files Guidelines</h3>

<ol>
    <li>Upload only what's important. This site does not replace stories on Instagram! Optimal number - up to five photos and videos per person per year.</li>
    <li>Tag people in photos and videos.</li>
    <li>Select the best photographs. If necessary, retouch them before publication.</li>
    <li>Do not upload photos with naked children, even if it seems very cute to you. And with adults, for that matter, too.</li>
</ol>
