@{
    Layout = "HelpLayout.cshtml";
    ViewBag.Title = "Style";
}

<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Markdown")">Design</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Style</a>
    </li>
</ul>

<h3>Style Guidelines</h3>

<p>
    The purpose of this site is to preserve and catalog information about the family.
    To make this information pleasant and interesting to read, all authors should adhere to certain stylistic guidelines.
</p>
<p>Please familiarize yourself with them and keep them in mind when writing or editing articles.</p>

<ol>
    <li>
        <strong>Objectivity</strong>:<br />
        Write impartially and focus on the facts. Do not give personal assessments - they may not coincide with the opinions of others and can change over time.
    </li>
    <li>
        <strong>Positivity</strong>:<br />
        If possible, pay more attention to good events. It will be more pleasant to read about them.
    </li>
    <li>
        <strong>Informative</strong>:<br />
        Think about what would be interesting for people to learn who will read the article in 50 or 100 years. Leave out minor details, write in simple language.
    </li>
    <li>
        <strong>Consistency</strong>:<br />
        Stick to the chronological order, not jumping ahead: birth, childhood, education, work, family, maturity, old age. If there is enough information, divide the text into sections with headings.
    </li>
    <li>
        <strong>Design</strong>:<br />
        Write in literate Russian, using automatic spelling check tools if necessary. Break the text into paragraphs and use links to other pages.
    </li>
    <li>
        <strong>Accuracy</strong>:<br />
        If you don't remember a specific fact (date, name, place) - write it as it is. Maybe someone else remembers and can supplement your text.
    </li>
</ol>

<h3>Media File Guidelines</h3>

<ol>
    <li>Post only what's important. This site is not a replacement for Instagram stories! The optimal number is up to five photos and videos per person per year.</li>
    <li>Tag people in photos and videos.</li>
    <li>Select the most successful photos. If necessary, retouch them before publication.</li>
    <li>Do not upload photos with naked children, even if you find it very cute. And with adults, for that matter, too.</li>
</ol>
