@{
    Layout = "HelpLayout.cshtml";
    ViewBag.Title = "Design";
}

<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Design</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Guidelines")">Style</a>
    </li>
</ul>

<h3>Text Formatting</h3>
<p>Markup language <b>Markdown</b> is used for formatting. It allows you to add headers, links, images, and other styles to plain text using special characters.</p>

<h5>Headers</h5>
<p>The <code>#</code> symbol is used for headers, from 1 to 6 (one is the largest).</p>
<pre>
# Huge Level 1 Header
## Second Level Header (smaller)
###### Smallest Header
</pre>

<h5>Text Styles</h5>
<pre>
_This text will be in italics_
**And this will be in bold**
Of course, _you can **combine** them together_
</pre>

<h5>Lists</h5>
<p>Unnumbered lists start with the <code>*</code> symbol. Use 4 spaces for indentation in nested lists.</p>
<pre>
* Item 1
* Item 2
    * Item 2.2
</pre>
<p>For numbered lists, specify the number followed by a dot.</p>
<pre>
1. Item 1
    1. Item 1.1
2. Item 2
</pre>

<h5>Links</h5>
<p>The easiest way to get a link is to type the <code>@@</code> symbol and start entering the page name. A dropdown menu will appear with options that can be selected using the up-down arrows or the mouse.</p>
<p>For advanced search, there is a "link" icon button above the text editor. There, pages can be filtered by type and view a longer list of options.</p>
<p>The page link is indicated in square brackets. First - the full page name, then a vertical bar, then - the link text:</p>
<pre>
Link to the page [[Ivanov_Ivan_Ivanovich|Ivan]] will be here.
</pre>

<h5>Images</h5>
<p>Images are added using square brackets and the <code>media:</code> prefix.</p>
<p>The easiest way to get an image is by clicking on the "image" icon above the text editor and choosing from the list.</p>
<p>When inserting an image, the following settings can be specified:</p>
<ul>
    <li>
        <p>Size:</p>
        <ul>
            <li><code>size:small</code> - small</li>
            <li><code>size:medium</code> - medium</li>
            <li><code>size:large</code> - large</li>
        </ul>
    </li>
    <li>
        <p>Position:</p>
        <ul>
            <li><code>align:left</code> - on the left</li>
            <li><code>align:center</code> - in the center</li>
            <li><code>align:right</code> - on the right</li>
        </ul>
    </li>
</ul>

<pre>
[[media:12345]] - small image on the left
[[media:12345|align:right]] - image on the right side
[[media:12345|align:center|size:large]] - large, in the center
</pre>
