@using Bonsai.Areas.Front.ViewModels.Auth
@{
    Layout = "~/Areas/Front/Views/Layout.cshtml";
    ViewBag.Title = "Page is not found";

    var user = (UserVM) ViewBag.User;
}

<div class="content text">
    <h1>Ошибка 404</h1>

    <p>
        Hmmm... It seems this page does not exists <br />
        Maybe it is not created, or the link contains some error.
    </p>
    <p></p>
    <p></p>
    <p>
        <a href="@Url.Action("Index", "Home", new { area = "Front" })" class="btn btn-outline-primary">Home</a>
        @if(user?.IsAdministrator == true)
        {
            <a href="@Url.Action("Index", "Pages", new {area = "Admin"})" class="btn btn-outline-secondary">
                <i class="fa fa-plus-circle"></i>
                Add page
            </a>
        }
    </p>

</div>